header {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    background-color: #0B1F33;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    transition: 0.3s;
    display: inline-block;
}

img {
    width: 120px;
} 

a:hover {
    color: #007FCF;
    transform: scale(1.1);
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        gap: 20px;
    }
}

/*seção principal */
#serviços {
    padding: 60px 20px;
    background-color: #f4f4f9;
    text-align: center;
}

/*alinhando os cards com flexbox */
.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
/*desenhando os cards*/
.card {
    background-color: #ffffff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    transition: transform 0.3s ease;
}

/*efeito hover */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}